/* 
1. cinza claro
#f7f7f7

2. Azul mais escuro
#355f79

3. Azul mais claro
#457b9d

4. Cinza bem escuro
#2F2F2F

5. Amarelo
#D1A400

font-family: 'Montserrat', sans-serif;

font-family: 'Montserrat Alternates', sans-serif;
*/


body {
    font-family: 'Montserrat', sans-serif;;
    background-color: #f7f7f7;
    color: #2F2F2F;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;;
}

strong {
    color: #355f79;
    font-weight: 600;
}

em {
    font-weight: 500;
}

.ferramentas {
    font-size: 1.2rem;
    font-weight: 500;
}