body {
    font-family: 'Montserrat', sans-serif;;
    background-color: #f7f7f7;
    color: #2F2F2F;
}

h1 {
    font-family: 'Montserrat Alternates', sans-serif;;
}

strong {
    color: #355f79;
    font-weight: 600;
}

em {
    font-weight: 500;
}

.ferramentas {
    font-size: 1.2rem;
    font-weight: 500;
}